<div name = "error">{{error}}</div>
<form class="" method="POST" action="/">
<div class="form-group form-group-lg .col-xs-4">
  <label for="usr">Username:</label>
  <input type="text" class="form-control" name="username">
</div>
<div class="form-group form-group-lg">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" name="password">
</div>
<input type="submit" class="btn-lg btn-success" value="Login">
<br><br>
</form>
New User? <a href="/register"> Register!</a>
<br><br>
<a href="/instructions">Game Instructions</a>