<!-- Simple Layout for Instructions Page- AGB  -->
<a href="/">Return Log-on Page</a> - 
<

<h2>How to play! </h2>
<p class="instructions"> 1)	Use the clues to locate the answers.  Remember, once you click submit – you answer is final and can not be changed. <br>
2)	You receive 10 points for a correct answer and 0 points for an incorrect answer. <br>
3)	Use the tabs at the top to change lands <br>
<br>
</p>
<h2>Registration: </h2>
<p class="instructions"> 1)	New users will have to fill out the registration form.  Name, Password, email & competition is required to be entered. <br>
2)	Returning Users can just use their username and password to continue the game at their current location. <br>
3)	For the TEAM – either pick a group that you belong too or just play as a single against others who are playing today! <br>

</p>